/* @import url("https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Manrope:wght@200..800&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap"); */
@import "tailwindcss";

@font-face {
  font-family: "Cousine";
  src: url("/fonts/Cousine-Regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cousine";
  src: url("/fonts/Cousine-Bold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Condensed";
  src: url("/fonts/ExtraCondensed.woff2") format("woff");
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope.woff2") format("woff");
}

html,body{
  cursor: url("/cursor.png"), auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cousine", serif;
}

* .title {
  font-family: "Condensed";
  font-weight: 900;
  margin-block: 0;
  line-height: 16rem;
}

* .parrafe {
  font-family: "Manrope";
  
}

@theme {
  --color-primary: #212125;
  --color-secondary: #4f4f4f;
  --color-tertiary: #6d6d6d;
  --color-quaternary: #ffffff;
}
