---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <!-- <Welcome /> -->
  <!-- <h1>KAUS</h1> -->
  <!-- https://www.behance.net/gallery/202420847/Ava-Agency-Portfolio-Website -->
  <!-- <div class="container mx-auto text-center"> -->
    <h1 class="font-title font-bold text-9xl">KAUS STUDIO</h1>
    <p>Estudio de desarrollo comercial KAUS STUDIO
      KAUS STUDIO
      KAUS STUDIO
KAUS STUDIO
KAUS STUDIO
KAUS STUDIO
KAUS STUDIO
KAUS STUDIO
KAUS STUDIO
KAUS STUDIO
KAUS STUDIO
KAUS STUDIO
KAUS STUDIO
    </p>

    https://www.behance.net/gallery/202420847/Ava-Agency-Portfolio-Website
  <!-- </div> -->
</Layout>

<!-- <style>
  .title {
    font-family: "Condensed";
    font-size: 18rem;
    font-weight: 900;
    margin-block: 0;
    /* letter-spacing: 0.1em */
  }
</style> -->
