---
// Archivo: src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import About from "../components/home/About.astro";
import Services from "../components/home/Services.astro";
import Projects from "../components/home/Projects.astro";
import Testimonials from "../components/home/Testimonials.astro";
import Contact from "../components/home/Contact.astro";
import {contactInfo, socialLinks} from "@data/info"
---

<Layout>
  <main class="relative z-10 bg-primary">
    
    <Hero />
    
    <About />
    
    <Services />
    
    <Projects />
    
    <Testimonials />
    
    <Contact 
      contact={contactInfo} 
      socials={socialLinks} 
    />
    
  </main>
</Layout>