<header
  class=" w-full top-0 z-[100] flex justify-center items-center bg-black"
>
  <div class="flex justify-between w-11/12 text-gray-200 h-16 items-center">
    <div>
      <a href="/">
        <h2>kaus</h2>
      </a>
    </div>
    <nav class="flex gap-4">
      <a class="hover:opacity-30 transition-all" href="/">INICIO</a>
      <span class="cursor-none">/</span>
      <a class="hover:opacity-30 transition-all" href="/about">NOSOTROS</a>
      <span class="cursor-none">/</span>
      <a class="hover:opacity-30 transition-all" href="/blog">PROJECTOS</a>
    </nav>
    <div class="border-b-2 pl-4">
      <a class="" href="" >
        <p class="hover:bg-amber-50 hover:text-black transition-all">
          Contactanos
        </p>
      </a>
    </div>
  </div>
</header>
