<section class="flex bg-[url(/ruido.png)] bg-no-repeat bg-cover justify-center">
  <div class="border-t border-gray-600 w-11/12 mx-auto mt-24 text-tertiary">
    <div class="flex justify-between py-4">
      <p class="text-quaternary">nosotros *</p>
      <p><span class="text-quaternary">02</span> // 05</p>
    </div>

    <article class="text-quaternary flex gap-16 justify-between">
      <img
        src="https://image.slidesdocs.com/responsive-images/background/white-chess-king-falls-to-the-dominance-of-3d-rendered-black-king-powerpoint-background_e28a54567d__960_540.jpg"
        alt=""
        class="rounded-r-full h-56 grayscale-100"
      />
      <div>
        <h2
          class="title text-center text-[2rem] md:text-[10rem] lg:text-[13rem]"
          style="text-shadow: 1px 1px 40px rgba(255, 255, 255, 0.569);"
        >
          NOSOTROS
        </h2>
        <p class="parrafe text-3xl leading-10">
          Nos dedicamos a ofrecer <span class="parrafe text-tertiary"
            >soluciones innovadoras</span
          > y de alta calidad en <span class="parrafe text-tertiary"
            >tecnología</span
          >. Nuestro equipo está comprometido con la <span
            class="parrafe text-tertiary">excelencia</span
          > y la <span class="parrafe text-tertiary">colaboración</span> para superar
          las expectativas de nuestros clientes.
        </p>
      </div>
    </article>
    <article>
      <h3></h3>
      <img src="" alt="">
      <h3></h3>
    </article>
  </div>
</section>
