<section
  class="flex bg-[url(/ruido.png)] bg-no-repeat bg-cover justify-center items-center"
>
  <div
    class="flex flex-col w-11/12 gap-16 text-quaternary h-max select-none items-center my-16"
  >
    <div class="mx-auto w-max flex flex-col">
      <h1
        class="title text-center text-[2rem] md:text-[10rem] lg:text-[15rem] leading-none"
        style="text-shadow: 1px 1px 40px rgba(255, 255, 255, 0.569);"
      >
        NORIR ESTUDIO
      </h1>
      <div class="w-full flex flex-col md:flex-row justify-between px-4">
        <p class="text-sm md:text-base">
          Impulsamos tu <span class="bg-gray-300 text-black">crecimiento</span>
        </p>
        <p class="text-sm md:text-base">© 2024</p>
        <p class="text-sm md:text-base">
          01 <span class="text-tertiary">//05 - scroll para explorar</span>
        </p>
      </div>
    </div>
    <div class="m-auto flex flex-col gap-16">
      <div class="flex flex-col md:flex-row justify-between items-center">
        <p
          class="parrafe text-base md:text-3xl w-full md:w-[600px] text-center md:text-left"
        >
          <span class="parrafe text-tertiary">
            Expertos en soluciones personalizadas.
          </span>
          Alto impacto y crecimiento garantizado. ¡Transforma tus desafíos en oportunidades
          con nosotros!
        </p>
        <div
          class="overflow-hidden w-full md:w-[600px] h-[200px] rounded-l-full mt-8 md:mt-0"
        >
          <img
            class="w-full h-full object-cover grayscale-100"
            src="https://img.freepik.com/foto-gratis/surtido-piezas-ajedrez-paisajes-espectaculares_23-2150829031.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
    <div
      class="w-full flex text-center justify-center bg-black text-white hover:text-black hover:bg-white transition-all duration-300 p-4 md:py-16"
    >
      <span class="border-b-1 w-max">
        <p style="text-shadow: 1px 1px 40px rgba(255, 255, 255, 0.569);">
          trabaja con nosotros y lleva tu negocio al siguiente nivel.
        </p>
      </span>
    </div>
  </div>
</section>
