---
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="stylesheet" href={style} /> -->
    <title>Astro Basics</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<!-- <style is:global>
  @import "tailwindcss";
  /* @import url("https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Manrope:wght@200..800&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap"); */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cousine", serif;
  }

/* 
  @theme{
	--color-primary: #d1d1d1;
  } */
</style> -->
