---
// Archivo: src/components/Header.astro
---

<header
  class="w-full top-0 z-[100] flex justify-center items-center bg-black fixed border-b border-gray-800"
>
  <div
    class="flex justify-between w-11/12 text-gray-200 h-16 items-center relative"
  >
    <div>
      <a
        href="/"
        class="title text-2xl tracking-widest hover:text-white transition-colors"
      >
        <h2>norir</h2>
      </a>
    </div>
    <nav
      id="mainNav"
      class="hidden flex-col md:flex md:flex-row gap-4 absolute md:relative top-full md:top-0 left-0 md:left-auto w-full md:w-auto bg-black md:bg-transparent p-4 md:p-0 transition-all duration-300"
    >
      <a
        class="parrafe text-sm hover:opacity-30 transition-all block md:inline uppercase tracking-widest"
        href="/">INICIO</a
      >
      <span class="cursor-none hidden md:inline text-tertiary">/</span>
      <a
        class="parrafe text-sm hover:opacity-30 transition-all block md:inline uppercase tracking-widest"
        href="/nosotros">NOSOTROS</a
      >
      <span class="cursor-none hidden md:inline text-tertiary">/</span>
      <a
        class="parrafe text-sm hover:opacity-30 transition-all block md:inline uppercase tracking-widest"
        href="/proyectos">PROYECTOS</a
      >
      <span class="cursor-none hidden md:inline text-tertiary">/</span>
      <a
        class="parrafe text-sm hover:opacity-30 transition-all block md:inline uppercase tracking-widest"
        href="/servicios">SERVICIOS</a
      >
    </nav>
    <div class="border-b border-gray-500 pl-4 md:pl-0 pb-1">
      <a href="mailto:norirstudio@gmail.com">
        <p
          class="parrafe text-sm uppercase tracking-widest hover:bg-white hover:text-black transition-all px-2 py-1"
        >
          Contáctanos
        </p>
      </a>
    </div>
    <div class="md:hidden">
      <button
        id="menuBtn"
        class="text-white hover:text-gray-400 transition-colors"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>
    <div class="md:hidden hidden" id="closeBtn">
      <button class="text-white hover:text-gray-400 transition-colors">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
  </div>
</header>

<script is:inline>
  const menuBtn = document.getElementById("menuBtn");
  const closeBtn = document.getElementById("closeBtn");
  const mainNav = document.getElementById("mainNav");

  menuBtn.addEventListener("click", () => {
    mainNav.classList.remove("hidden");
    mainNav.classList.add("flex");
    menuBtn.classList.add("hidden");
    closeBtn.classList.remove("hidden");
  });

  closeBtn.addEventListener("click", () => {
    mainNav.classList.add("hidden");
    mainNav.classList.remove("flex");
    closeBtn.classList.add("hidden");
    menuBtn.classList.remove("hidden");
  });

  document.addEventListener("click", (event) => {
    if (
      !mainNav.contains(event.target) &&
      !menuBtn.contains(event.target) &&
      window.innerWidth <= 768
    ) {
      mainNav.classList.add("hidden");
      mainNav.classList.remove("flex");
      closeBtn.classList.add("hidden");
      menuBtn.classList.remove("hidden");
    }
  });
</script>
